 /* all common css start */
 *{
    margin: 0%;
    padding: 0%;
}
 /* all common css  end*/

ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.header{
     padding: 30px 0;
    
}
.contioner{

}
.menu{
    
    width: 1140px;
    margin: 0% auto;
    display: flex;
    justify-content:space-between ;
    align-items: center;
}
.menu ul li{
    display: inline-block; 
       padding: 20px 27px;   
}
.menu ul li a{

   color: rgba(71, 71, 71, 1);
   font-weight: 400;

   font-family: Open Sans ;
}
.menupart{
    display: flex;
}
.menu .one{
 background-color: #fd6e0a;    
    padding: 20px;
    border-radius: 7%;
    color: white;
     font-family: Open Sans ;
     font-size: 20px;
     font-weight: 700;
}




