 /* all common css start  */
 *{
    margin: 0%;
    padding: 0%;
 }
  /* all common css end  */
/* common menu start */
 ul,ol{
    list-style-type: none;
 }
 a{
    text-decoration: none;
 }
 #header{
   padding: 25.5px 0;
 }
 #contioner{
   width: 1140px;
   margin: 0% auto;
 }
 /* common menu end */
 .logomenu{
   height: 100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 .menu, .menu ul{
   display: flex;
   align-items: center;
 }
 .menu ul li {
   padding: 0% 27px;
 }
  .menu ul li a{
   color: #474747;
   font-family: Open Sans;
   font-size: 20px;
   transition: .4s;
  }
  #button a{
   background-color: #FD6E0A;
   padding: 20px 27px;
   color: #FFFFFF;
   font-size: 20px;
   font-family: Open Sans;
   font-weight: 600;
   border-radius: 8%;
  }
  .menu ul li a:hover{
    color: red;
  }
