 *{
    margin: 0%;
    padding: 0%;
 }
 ul,ol{
    list-style-type: none;
 }
 a{
    text-decoration: none;
 }
 #header{
    padding: 20px 0;
 }
 #contioner{
    width: 1140px;
    margin: 0% auto;
 }
 .menu{
     height: 100px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 .menupart ul{
    display: flex;  
 }
 .menupart ul li {
    padding: 0% 27px;
 }
  .menupart ul li a{
    color: #474747;
     font-family: Open Sans;
     font-size: 20px;
  }
  .button a{
    background-color: #fd6e0a;
    color: #fff;
    padding: 15px 20px;
    border-radius: 20%;
    font-weight: 600;
    font-size: 20px;
    font-family: Open Sans;
  }